# R stuff
.Rproj.user
.Rhistory
.RData

# Data stuff
# (ignore for now)
data/raw_data/
data/derived_data/

# Site output
**/_site/*
**/site_libs/*

# knitr and caching stuff
**/*_files/*
**/*_cache/*

# Manuscript output
manuscript/*.docx
manuscript/*.html
manuscript/*.pdf
manuscript/*.tex
manuscript/tex_out/*
manuscript/pandoc/bin/vc*

# Output
# (ignore for now)
analysis/output/

# Miscellaneous
admin/*
*.~lock.*
.DS_Store
.dropbox
Icon?
