# R stuff
.Rproj.user
.Rhistory
.RData

# Data stuff
# (ignore for now)
data/raw_data/
data/derived_data/

# Site output
**/_site/*
**/site_libs/*

# Targets stuff
_targets

# knitr and caching stuff
**/*_files/*
**/*_cache/*

# Manuscript output
manuscript/*.log
manuscript/output/*.docx
manuscript/output/*.html
manuscript/output/*.pdf
manuscript/output/*.tex
manuscript/output/figures/*
manuscript/pandoc/bin/vc*

# Output
# (ignore for now)
analysis/output/

# Miscellaneous
admin/*
*.~lock.*
.DS_Store
.dropbox
Icon?
